[Unit]
Description=Computer Programmer
After=network.target

[Service]
ExecStart=/usr/bin/python3 /opt/CP/flash-complete.py
WorkingDirectory=/opt/CP
StandardOutput=append:/var/log/CP/computer-programmer.log
StandardError=append:/var/log/CP/computer-programmer.log
User=pi
Restart=always

[Install]
WantedBy=multi-user.target

